.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.nav-item {
  text-decoration: none;
  color: rgb(120, 120, 120);
  margin: 12px;
}
.nav-item:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}
