.navcontainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.nav-item {
  text-decoration: none;
  color: rgb(120, 120, 120);
  margin: 12px;
}
.nav-item:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}

.active-link {
  color: hsl(35, 77%, 62%);
}
