button {
  color: black;
  padding: 6px;
  font-size: large;
  background-color: hsl(5, 85%, 63%);
  width: 200px;
  height: 40px;
  border: none;
}

button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
  color: whitesmoke;
}

p {
  color: rgb(120, 120, 120);
  font-size: 15px;
}
