/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  height: 100vh;
  padding: 10px;
}

.banner {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.boldtext {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.readblock {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.newblock {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

#card1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

#card2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

#card3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "banner banner newblock"
    "boldtext readblock newblock"
    "card1 card2 card3";
}

.banner {
  grid-area: banner;
}
.newblock {
  grid-area: newblock;
}
.boldtext {
  grid-area: boldtext;
}
.readblock {
  grid-area: readblock;
}
.card:nth-child(5) {
  grid-area: card1;
}
.card:nth-child(6) {
  grid-area: card2;
}
.card:nth-child(7) {
  grid-area: card3;
}
