.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  margin: 20px;
}

.banner {
  grid-area: 1 / 1 / 2 / 3;
}

.boldtext {
  grid-area: 2 / 1 / 3 / 2;
}

.readblock {
  grid-area: 2 / 2 / 3 / 3;
}

.newblock {
  grid-area: 1 / 3 / 3 / 4;
}

#card1 {
  grid-area: 3 / 1 / 4 / 2;
}

#card2 {
  grid-area: 3 / 2 / 4 / 3;
}

#card3 {
  grid-area: 3 / 3 / 4 / 4;
}
